html{
		width: 360px;
		height:1452px;
	    margin: 0px;
}
body{
		width: 360px;
		background-color: rgb(34, 131,182);
		margin:  0;
		z-index: 0;
}
.title{
		z-index: 10;
		width: 360px;
		height: 56px;
		position: fixed;
		background-color: rgb(34, 131,182);
}
.back{
		z-index: 11;
		margin-top: 4px;
		margin-left: 4px;
		width: 52px;
		height: 52px;
		background-color: rgb(34, 131,182);	
}
.pagetitle{
		z-index: 11;
		margin-left: 60px;
		margin-top: -62px;
		width: 260px;
		max-height: 52px; 
		color: white;
		font-size: 18px;  	
		text-align: center;
		background-color: rgb(34, 131,182);
}
#greenDiv{			
		width: 188px;
		height: 197px;
		top: 94px;
		left: 86px;
		position: absolute;
		z-index: 2;
}
#grayDiv{
		width: 328px;
		height: 94px;
		left: 16px;
		top: 242px;
		position: absolute;				
		color: rgba(80, 80, 80, 1);
		background-color: rgba(65, 77, 87, 1);
		font-size: 14px;
		line-height: 150%;
		text-align: center;
		z-index: 1;
}
.contentDiv{
		position: absolute;				
		width: 328px;
		height: 938px;
		left: 16px;
		top: 336px;
		color: rgba(80, 80, 80, 1);
		background-color: rgba(229, 229, 229, 1);
		font-size: 14px;
		line-height: 150%;
		text-align: center;	
		z-index: 1;
}
.labName{
		position:absolute;
		max-width: 200px;
		height: 45px;
		color: rgba(80, 80, 80, 1);
		font-size: 30px;
		left: 16px;
		top: 0px;
		line-height: 150%;
		text-align: left;	
		z-index: 2;
}
.pTitle{
		position:absolute;
		max-width: 80px;
		height: 30px;
		left: 16px;
		color: rgba(80, 80, 80, 1);
		font-size: 20px;
		line-height: 150%;
		text-align: left;	
		z-index: 2;
}
.textDiv{
		position:absolute;
		width: 296px;
		height: 24px;
		left: 16px;		
		color: rgba(80, 80, 80, 1);
		font-size: 4px;
		line-height: 150%;
		text-align: left;
		z-index: 2;
}
#container{
		width: 286px;
		height: 287px;
		left: 16px;		
		text-align: center;
		position:absolute;
		z-index: 2;
}			    