html{
    width: 360px;
    margin: 0px;
}
body{
    width: 360px;
    margin: 0px;
}
.title{ 
    width: 360px;
    height: 56px;
    position: fixed;
    background-color: rgb(34, 131, 182);
    z-index: 5;
}
.back{
    margin-top: 4px;
    margin-left: 4px;
    width: 52px;
    height: 52px;
}
.pagetitle{
    margin-left: 50px;
    margin-top: -62px;
    width: 300px;
    height: 940px; 
    font-size: larger;       
}
#dc1{
    background-color: rgb(125, 221, 125);
    width: 250px;
    height: 96px;
    left: 51px;
    top: 221px;
    position: absolute;
    z-index: 2;
}
#dc2{width: 350px;
	height: 100px;
	left: 5px;
	top: 150px;
	background-color:rgba(80, 80, 80, 1);
    position: absolute;
    z-index: 1;
}  
.image_top{
    width: 214px;
    height: 219px;
    left: 68px;
    top: 30px;
    position: absolute;
    z-index:3;
}
#box{
	width: 350px;
	height: 774px;
	left: 5px;
	top: 250px;
	color: rgba(80, 80, 80, 1);
	background-color:ivory;
	font-size: 14px;
    line-height: 150%;
    text-align: center;
    position:absolute;
    z-index:1;
}
.texth2a{
    width: 36px;
    height: 25px;
    left: 23px;
    top: 20px;
    color: rgba(80, 80, 80, 1);
    font-size: 18px;
    line-height: 70%;
    text-align: left;
    position:absolute;
}   
.text_83X1{
    width: 327px;
    height: 24px;
    left: 23px;
    top: 53px;
    color: rgba(80, 80, 80, 1);
    font-size: 15px;
    line-height: 150%;
    text-align: left;
    position:absolute;
}
.texth2b{
    width: 36px;
    height: 23px;
    left: 0px;
    top: 180px;
    color: rgba(80, 80, 80, 1);
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    position:absolute;
}
#photo{
    width: 350px;
    height: 150px;

    top:235px;
    position:absolute;

}
.img1{
    width: 350px;
    left: -23px;
    top: 0px;
    position:absolute;
    float:left;
    z-index: 1;
}
.texth2c{
width: 36px;
height: 27px;
left: 0px;
top: 470px;
color: rgba(80, 80, 80, 1);
font-size: 18px;
line-height: 150%;
text-align: left;
position: absolute;
}
#container{
 height:156px;
 width:347px;
 top:550px;
 left:-20px;
 position: absolute;
}  
#laboratories{
    width: 360px;
    height: 990px;
    padding-top: 56px;
    background-color: rgb(34, 131, 182);
}
    