html{
    width: 100%;
    height:1145px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, 1);
	background-color: #3b81b9;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
}
.back{
    background-color:  #3b81b9;
    width: 100%;
    height: 30px;
    left: -3px;
    top:0px;
    position:fixed;
    z-index:100;
}
    #goback{
        width: 27px;
        height: 30px;
        top: 0px;
        left: 2px;
        position: absolute;
    }
    .texth1{
	    width: 70%;
        height: 1px;
        left: 14%;
	    top: -1px;
	    color:whitesmoke;
	    font-size:20px;
	    line-height:20%;
        text-align:center;
        position:absolute;
    }
#dc1{
    background-color: rgb(125, 221, 125);
    width:67%;
    height: 96px;
    left: 16%;
    top: 221px;
    position: absolute;
    z-index: 2;
}
#dc2{width: 94%;
	height: 100px;
	left: 3%;
	top: 270px;
	background-color:rgba(80, 80, 80, 1);
    position: absolute;
    z-index: 1;
}    
#box{
	width: 94%;
	height: 774px;
	left: 3%;
	top: 370px;
	color: rgba(80, 80, 80, 1);
	background-color:ivory;
	font-size: 14px;
    line-height: 150%;
    text-align: center;
    position:absolute;
    z-index:1;
}
    .image_top{
	    width: 54%;
	    height: 219px;
	    left: 21%;
        top: 94px;
        position: absolute;
        z-index:3;
    }
    .texth2a{
	    width: 36px;
	    height: 25px;
	    left: 23px;
	    top: 20px;
	    color: rgba(80, 80, 80, 1);
	    font-size: 18px;
	    line-height: 70%;
        text-align: left;
        position:absolute;
}   
        .text_83X1{
            width: 94%;
            height: 24px;
            left: 23px;
            top: 53px;
            color: rgba(80, 80, 80, 1);
            font-size: 4px;
            line-height: 150%;
            text-align: left;
            position:absolute;
        }
    .texth2b{
        width: 36px;
        height: 23px;
        left: 0px;
        top: 180px;
        color: rgba(80, 80, 80, 1);
        font-size: 18px;
        line-height: 150%;
        text-align: left;
        position:absolute;
    }
    #photo{
        width: 350px;
        height: 150px;

        top:235px;
        position:absolute;

    }
        .img1{
            width: 350px;
            left: -23px;
            top: 0px;
            position:absolute;
            float:left;
            z-index: 1;
        }
    .texth2c{
        width: 36px;
        height: 27px;
        left: 0px;
        top: 470px;
        color: rgba(80, 80, 80, 1);
        font-size: 18px;
        line-height: 150%;
        text-align: left;
        position: absolute;
    }
     #container{
         height:156px;
         width:347px;
         top:550px;
         left:-20px;
         position: absolute;
     }