<style>

.text
{
    position: absolute;
    z-index: -1;
}
/*标题*/
    .h
    {
	width: 60px;
	height: 45px;
	left: 16px;
	top: 96px;
	color: rgba(80, 80, 80, 1);
	font-size: 30px;
	line-height: 150%;
	text-align: left;
    }
/*实验室*/
    .lab{
	width: 69px;
	height: 21px;
	left: 32px;
	top: 180px;
	bottom: 441px;
	color: rgba(80, 80, 80, 1);
	font-size: 14px;
	line-height: 100%;
    text-align: left;
    white-space:nowrap;
}
.box{
    z-index: -2;
    position: absolute;
	width: 327px;
	height: 54px;
	left: 16px;
	top: 160px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(165, 204, 128, 1);
	border-radius: 8px;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
}
/*输入框提示文本*/
.text2{
	z-index: -1;
	position: absolute;
	width: 28px;
	height: 21px;
	color: rgba(65, 77, 87, 1);
	font-size: 14px;
	line-height: 150%;
	text-align: left;
	font-weight: bold;
}
	.one{
		left: 16px;
		top: 230px;
	}
	.two{
		left: 16px;
		top: 302px;
	}
	.three{
		left: 16px;
		top: 375px;
	}
	.four{
		left: 16px;
		top: 447px;
	}
/*图片*/
.myimg{
	position: absolute;
    background-repeat:no-repeat;
    background-attachment:fixed;
	z-index: -1;
	left: 204px;
	top: 92px;
	max-width:96px; 
	max-height:96px;
}
	/*输入框*/
.textbox_input 
{
	z-index: 1;
	position: absolute;
	width: 240px;
	height: 26px;
	text-indent: 5px;
	color: rgba(65, 77, 87, 1);
	box-shadow: rgba(65, 77, 87, 1) solid 5px;
	border-radius: 8px;
	font-size: 10px;
	line-height: 100%;
	text-align: left;
}
	.name{
		left: 16px;
		top: 255px;
	}
	.ID{
		left: 16px;
		top: 325px;
	}
	.school{
		left: 16px;
		top: 398px;
	}
	.phone{
		left: 16px;
		top: 470px;
	}
	/*按钮*/
.button {
			box-shadow: 5px 5px 2px #888888;
			border-radius: 10px;
			border-style:solid;
			border-width:1px;
			font:bold 12px/25px 微软雅黑, sans-serif;
			text-decoration: none;
			text-align: center;
			font-size: 14px;
			line-height: 50px;
			cursor: pointer;
			position: absolute;
				left: 199px;
				top: 577px;
				width: 144px;
				height: 48px;
				color:rgba(255, 255, 255, 1);
				background: #2283b6;
				/* Old browsers */
				background: -moz-linear-gradient(top, #2283b6 100%);
				/* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #2283b6));
				/* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #2283b6);
				/* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #2283b6);
				/* Opera 11.10+ */
				background: -ms-linear-gradient(top,#2283b6);
				/* IE10+ */
				background: linear-gradient(top, #2283b6);
				/* W3C */

		}
		.button:hover{
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
			}
	/*错误提示*/
.warn{
	position: absolute;
	z-index: -1;
	color: rgba(222, 96, 66, 1);
	font-size: 14px;
	line-height: 150%;
	text-align: right;
}
	.first{
		left: 205px;
		top: 280px;
	}
	.second{
		left: 205px;
		top: 352px;
	}
	.third{
		left: 205px;
		top: 425px;
	}
	.fourth{
		left: 205px;
		top: 497px;
	}


/*弹出对话框*/
.mydialog{
	z-index: -5;
	position:absolute;
	opacity: 0;
	white-space: nowrap
}
/*主体*/
.body{
	width: 228px;
	height: 320px;
	left: 66px;
	top: 136px;
	color: rgba(80, 80, 80, 1);
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
}
/*标题*/
.head{
	width: 80px;
	height: 30px;
	left: 144px;
	top: 152px;
	color: rgba(80, 80, 80, 1);
	font-size: 20px;
	line-height: 150%;
	text-align: center;
	font-weight: bold;
}
/*装饰*/
.decoration{
	width: 96px;
	height: 16px;
	left: 136px;
	top: 188px;
	color: rgba(80, 80, 80, 1);
	background-color: rgba(74, 126, 153, 1);
	border-radius: 5px;
	font-size: 14px;
	line-height: 150%;
	text-align: center;

}
/*信息*/
.text_1{
	width: 69px;
	height: 21px;
	left: 82px;
	top: 220px;
	color: rgba(65, 77, 87, 1);
	font-size: 13px;
	line-height: 150%;
	text-align: left;
}
.text_2{
	width: 69px;
	height: 21px;
	left: 82px;
	top: 250px;
	color: rgba(65, 77, 87, 1);
	font-size: 13px;
	line-height: 150%;
	text-align: left;
}
.text_3{
	width: 69px;
	height: 21px;
	left: 82px;
	top: 280px;
	color: rgba(65, 77, 87, 1);
	font-size: 13px;
	line-height: 150%;
	text-align: left;
}
.text_4{
	width: 69px;
	height: 21px;
	left: 82px;
	top: 310px;
	color: rgba(65, 77, 87, 1);
	font-size: 13px;
	line-height: 150%;
	text-align: left;
}
.button_1{
	background-color: rgb(255, 255, 255);

	left:166px;
	top:408px;
	width:64px;
	height:48px;
	border:none;
	font:bold 12px/25px 微软雅黑, sans-serif;
}
.button_2{
	background-color: rgb(255, 255, 255);
	color:#0000ff;
	font:bold 12px/25px 微软雅黑, sans-serif;
	left:230px;
	top:408px;
	width:64px;
	height:48px;
	border:none;
}
</style>